@import 'tailwindcss';

@layer base {
  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }
}

@theme {
  --color-midnight-dark: #121015;
  --color-midnight-light-100: #322d3a;
  --color-midnight-light-150: #29272d;
  --color-midnight-light-200: #1b1a1e;

  --color-light-yellow: #fff7e1;
  --color-light-yellow-100: #fff7e1;
  --color-light-yellow-200: #aca9a1;

  --color-accent: #7632a4;

  --color-common: ##ffffff;
  --color-uncommon: #1eff00;
  --color-rare: #0070dd;
  --color-epic: #a335ee;
  --color-legendary: #ff8000;
  --color-artifact: #e6cc80;
  --color-token: #00ccff;

  --font-title: Junicode, serif;
  --default-font-family: Poppins, sans-serif;
}

.button-shadow {
  transition: box-shadow 300ms ease-in-out;
  box-shadow:
    -2px -2px 2px 0px rgba(0, 0, 0, 0.12) inset,
    2px 2px 2px 0px rgba(255, 255, 255, 0.12) inset,
    2px 2px 4px 0px #160e1b;
}

.button-shadow:hover {
  box-shadow:
    -2px -2px 2px 0 rgba(0, 0, 0, 0.08) inset,
    2px 2px 2px 0 rgba(255, 255, 255, 0.08) inset;
}

.button-shadow:active {
  box-shadow:
    -2px -2px 2px 0 rgba(0, 0, 0, 0.15) inset,
    2px 2px 2px 0 rgba(0, 0, 0, 0.15) inset;
}
